@import "../../../utilities/variables.scss";
@import "../../../utilities/mixin.scss";

.wrapperSearchBar {
    height: 100%;
    display: flex;
    align-items: center;

    .searchBar {
        height: 96%;
        position: relative;

        .searchBar__icon {
            height: 100%;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $color-gray-2;
            transition: all 0.3s ease-out;
        }

        .searchBar__input {
            min-width: 200px;
            width: 200px;
            height: 100%;
            border: 1px solid transparent;
            box-sizing: border-box;
            transition: width 0.3s ease-out;
            border-radius: 32px;
            padding-left: 36px;
            background-color: $color-black-2;
            color: $color-white-1;
            font-size: 0.9rem;

            &::placeholder {
                color: $color-gray;
            }

            &:focus {
                outline: none;
                width: 320px;
                border: 1px solid $color-primary;
                background-color: $color-black-2;

                & + div {
                    color: $color-primary;
                }
            }

            &:hover {
                border: 1px solid $color-primary;
                background-color: $color-black-2;

                & + div {
                    color: $color-primary;
                }
            }

            &.searching {
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                border-bottom: 1px solid $color-black-2;
            }
        }

        .searchBar__suggest {
            ul {
                position: absolute;
                top: calc(100% - 1px);
                left: 0;
                width: 100%;
                border: 1px solid $color-primary;
                border-top: 1px solid $color-black-2;
                background-color: $color-black-2;
                font-size: 0.9rem;
                z-index: 4;
                list-style: none;
                box-sizing: border-box;
                max-height: 120px;
                overflow-y: auto;

                li {
                    a {
                        cursor: pointer;
                        padding: 6px 8px;
                        color: $color-white-3;
                        text-decoration: none;
                        display: inline-block;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 100%;
                        height: 100%;
                    }

                    &:hover,
                    &:focus,
                    &:active {
                        background-color: $color-gray-2;
                    }
                }
            }
        }
    }
}

@include md {
    .wrapperSearchBar {
        .searchBar {
            height: 90%;

            .searchBar__input {
                min-width: 240px;
                width: 240px;
                transition: color 0.1s;

                &:focus {
                    width: 240px;
                }
            }
        }
    }
}
