@import "../../utilities/variables.scss";

.auth {
    background: linear-gradient(-50deg, rgb(63, 196, 191), rgb(80, 142, 214));
    min-height: 100vh;
    padding: 12px 0;
    box-sizing: border-box;
}
