@import "../../../../../utilities/variables.scss";
@import "../../../../../utilities/mixin.scss";

.navigationItem {
    height: 100%;
    margin: 0 4px;

    a {
        padding: 0 12px;
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;
        color: $color-black-1;
        font-weight: 500;
        font-size: 0.9rem;
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 0;
            height: 100%;
            border-bottom: 2px solid $color-primary;
            transition: all 0.3s ease;
        }

        &:active,
        &.active {
            color: $color-primary;

            &::after {
                width: 100%;
            }
        }

        &:hover {
            color: $color-primary;

            &::after {
                width: 100%;
            }
        }
    }
}

@include md {
    .navigationItem {
        min-height: 32px;
        margin: 0;

        a {
            border-bottom: 1px solid $color-black-2;
            box-sizing: border-box;
            overflow: hidden;
            min-width: 100%;
            padding: 4px 8px;
            align-items: center;
            color: $color-gray;
            font-weight: 500;

            &::after {
                display: none;
            }

            &:active,
            &.active {
                background-color: $color-opacity-black-1;
            }

            &:hover {
                background-color: $color-black-2;
            }
        }
    }
}
