@import "../../../utilities/mixin.scss";
@import "../../../utilities//variables.scss";

.cartMain {
    @include width-frame;
    display: flex;
    padding-bottom: 60px;
    border-bottom: 1px solid $color-white-1;

    .cartMain__left {
        width: 70%;
        padding-right: 24px;
    }

    .cartMain__right {
        width: 30%;

        .cartMain__continueShopping {
            width: 100%;
            height: 40px;
            margin-top: 28px;
            text-align: center;
        }
    }
}

@include md {
    .cartMain {
        flex-wrap: wrap;

        .cartMain__left {
            width: 100%;
            padding-right: 0px;
        }

        .cartMain__right {
            width: 100%;

            .cartMain__continueShopping {
                width: 100%;
                height: 40px;
                margin-top: 32px;
            }
        }
    }
}
