//color
$color-primary: #fcb83b;
$color-primary-1: #d18800;
$color-primary-2: #e4bd74;

$color-white: white;
$color-white-1: #eee;
$color-white-2: #ddd;
$color-white-3: #f9f9f9;
$color-white-4: #f8f8f8;
$color-white-5: #f0f0f0;

$color-gray: #ccc;
$color-gray-1: #696969;
$color-gray-2: #888;

$color-black: black;
$color-black-1: #242424;
$color-black-2: #48494b;
$color-black-3: #333333;

$color-pink: #e28783;
$color-pink-1: #c25751;

$color-opacity-black: rgba(0, 0, 0, 0.2);
$color-opacity-black-1: rgba(0, 0, 0, 0.35);
$color-opacity-black-2: rgba(0, 0, 0, 0.5);
$color-opacity-primary: rgba(252, 184, 59, 0.5);

//width
$w: 1200px;

//break point
$bp-xs: 0px;
$bp-sm: 576px;
$bp-md: 768px;
$bp-lg: 992px;
$bp-xl: 1200px;
