@import "../../../utilities/variables.scss";

.modal {
    position: fixed;
    z-index: 5;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: $color-white;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 8px;
    overflow: hidden;
}
