.tenj {
    width: 100%;
    height: calc(100% + 2px);
    position: relative;
    box-sizing: border-box;
    border: none;
    overflow: hidden;

    .carousel {
        margin: auto unset;
        width: 100%;
        height: 100%;
        display: flex;
        transition: transform 0.3s ease-out;
        top: 0;
        left: 0;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
        box-sizing: border-box;

        .carousel__item {
            min-width: 100%;
            float: 1;
        }
    }

    .buttonTenj {
        display: inline-block;
        position: absolute;
        top: 50%;
        cursor: pointer;
        font-size: 24px;
        background-color: transparent;
        border: none;
        transition: all 0.2s;
        color: rgb(100, 100, 100);

        &.prev {
            left: 10px;
            transform: translateY(-50%);
        }

        &.next {
            right: 10px;
            transform: translateY(-50%);
        }

        &:focus {
            outline: none;
        }

        &:hover {
            color: var(--hoverColor);
        }

        &:active {
            color: var(--activeColor);
        }

        &:disabled {
            visibility: hidden;
        }
    }

    .carousel__indicators {
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 50%;
        bottom: 4px;
        transform: translateX(-50%);
        .indicator__item {
            display: block;
            width: 8px;
            height: 8px;
            background-color: transparent;
            border: 1px solid #aaaaaa;
            border-radius: 50%;
            margin: 0 4px;
            cursor: pointer;
            transition: all 0.3s;
            &:hover {
                background-color: rgba(36, 36, 36, 0.4);
            }
            &.selected {
                border: 1px solid black;
                background-color: black;
            }
        }
        .indicator__item__custom {
            box-sizing: border-box;
            display: block;
            width: 80px;
            height: 80px;
            border: 2px solid rgba(231, 192, 118, 0.5);
            margin: 0 2px;
            cursor: pointer;
            transition: all 0.3s;
            opacity: 0.5;
            img {
                max-width: 100%;
                object-fit: cover;
            }
            &:hover {
                opacity: 1;
            }
            &.selected {
                border: 2px solid #fcb83b;
                opacity: 1;
            }
        }
    }

    .moving {
        cursor: grab !important;
    }
}

@media screen and (max-width: 576px) {
    .tenj {
        .buttonTenj {
            font-size: 20px;
            &.prev {
                left: 8px;
            }
            &.next {
                right: 8px;
            }
        }

        .carousel__indicators {
            .indicator__item__custom {
                width: 60px;
                height: 60px;
                opacity: 0.4;
                border-radius: 2px;
                overflow: hidden;
            }
        }
    }
}
