@import "../../../utilities/variables.scss";
@import "../../../utilities/mixin.scss";

.listContainer {
    @include width-frame;
    display: flex;
    justify-content: space-between;
    padding: 24px 8px;
    margin-bottom: 60px;
    border-bottom: 1px solid $color-gray;

    .listContainer__sidebar {
        width: 27%;
    }

    .listContainer__main {
        width: 73%;
    }
}

@include md {
    .listContainer {
        flex-wrap: wrap;
        padding: 24px 8px;

        .listContainer__sidebar {
            width: 100%;
        }

        .listContainer__main {
            width: 100%;
        }
    }
}
