.infoAccount {
    max-width: 500px;

    .infoAccount__label {
        margin-bottom: 8px;
        margin-top: 16px;
    }

    .infoAccount__button {
        margin-top: 20px;
    }

    .infoAccount__submit {
        margin: 24px 0 12px;
    }
}
