@import "../../utilities/variables.scss";
@import "../../utilities/mixin.scss";

.header {
    .header__toolbar {
        @include width-frame;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2px;
        padding-bottom: 2px;
        .header__toolbar__left {
            max-width: 160px;
            height: 100%;
            display: flex;
        }
        .header__toolbar__right {
            height: 80%;
            margin: auto 0;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .header__toolbar__right__search {
                height: 74%;
                margin: auto 16px;
            }
            .header__toolbar__right__nav {
                list-style: none;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;

                .header__toolbar__right__nav__item {
                    height: 100%;
                    border: 1px solid transparent;
                    border-radius: 4px;
                    padding: 0 8px;
                    display: flex;
                    align-items: center;
                    p {
                        color: $color-white-2;
                        display: flex;
                        flex-direction: column;
                        span {
                            color: $color-pink;
                            font-size: 1.1rem;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@include md {
    .header {
        .header__toolbar {
            .header__toolbar__left {
            }
            .header__toolbar__right {
                .header__toolbar__right__search {
                    display: none;
                }
            }
        }
        .header__navigationBar {
            display: none;
        }
    }
}

@include xs {
    .header {
        .header__toolbar {
            height: 54px;
            .header__toolbar__left {
                max-width: 140px;
            }
        }
    }
}
