@import "../../../utilities/mixin.scss";

.categories {
    @include width-frame;
    text-align: center;
    padding: 0 8px;
    margin-bottom: 60px;

    .categories__title {
        font-size: 1.6rem;
        font-weight: 500;
        margin-bottom: 8px;
    }
}

@include md {
    .categories {
        .categories__title {
            font-size: 1.4rem;
        }
    }
}
